/* *********************************************************************************************************************
 * Main container for all
 */
.container {padding-left:20px; padding-right:20px;}
.container > .row {margin-left:auto; margin-right:auto; padding:0 20px; max-width: 1140px;}
header.container > .row {padding-left:0!important; padding-right:0!important;}
.container > .row.noMaxWidth {max-width:0;}
.row:before, .row:after {content: " "; /* 1 */ display: table; /* 2 */}
.row:after {clear: both;}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {*zoom: 1;}

/* *********************************************************************************************************************
 * Common columns definitions
 */

.container [class*="col"] {margin-right:2.7%; float: left; min-height:1px;}
.container [class*="col"].floatRight {float: right; margin-right: 0!important;}
.last, .noGridMargin {margin-right:0!important;}

.col1	{	width:1.57916666667% }
.col2	{	width:5.85833333333% }
.col3	{	width:10.1375% }
.col4	{	width:14.4166666667% }
.col5	{	width:18.6958333333% }
.col6	{	width:22.975% }
.col7	{	width:27.2541666667% }
.col8	{	width:31.5333333333% }
.col9	{	width:35.8125%	}
.col10	{	width:40.0916666667% }
.col11	{	width:44.3708333333% }
.col12	{	width:48.65%}
.col13	{	width:52.9291666667% }
.col14	{	width:57.2083333333% }
.col15	{	width:61.4875%	}
.col16	{	width:65.7666666667% }
.col17	{	width:70.0458333333% }
.col18	{	width:74.325% }
.col19	{	width:78.6041666667% }
.col20	{	width:82.8833333333% }
.col21	{	width:87.1625%	}
.col22	{	width:91.4416666667%	}
.col23	{	width:95.7208333333% }
.col24	{	width:100%; margin-right:0;	}

.pushcol1	{	margin-left:4.27916666667% }
.pushcol2	{	margin-left:8.55833333333% }
.pushcol3	{	margin-left:12.8375%	}
.pushcol4	{	margin-left:17.1166666667%	}
.pushcol5	{	margin-left:21.3958333333%	}
.pushcol6	{	margin-left:25.675%}
.pushcol7	{	margin-left:29.9541666667% }
.pushcol8	{	margin-left:34.2333333333% }
.pushcol9	{	margin-left:38.5125% }
.pushcol10	{	margin-left:42.7916666667%	}
.pushcol11	{	margin-left:47.0708333333%	}
.pushcol12	{	margin-left:51.35% }
.pushcol13	{	margin-left:55.6291666667%	}
.pushcol14	{	margin-left:59.9083333333%	}
.pushcol15	{	margin-left:64.1875% }
.pushcol16	{	margin-left:68.4666666667%	}
.pushcol17	{	margin-left:72.7458333333%	}
.pushcol18	{	margin-left:77.025% }
.pushcol19	{	margin-left:81.3041666667%	}
.pushcol20	{	margin-left:85.5833333333%	}
.pushcol21	{	margin-left:89.8625% }
.pushcol22	{	margin-left:94.1416666667%	}
.pushcol23	{	margin-left:98.4208333333%	}
		
.container [class*="col"] img {max-width:100%; height: auto; display: block;}

/* *********************************************************************************************************************/
@media all and (min-width: 1024px) {

}



/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 768px) {
	.container {padding-left:0; padding-right:0;}
	.container .row {padding-right:0; padding-left:0;}
	.container .row  [class*="col"] {width:auto; float: none; margin-right:0;}
	.container > .row > [class*="col"] {padding-left:20px; padding-right:20px; margin-right:0;}
	.container .row [class*="col"].floatRight {float:none;}
	
	[class*="pushcol"] {margin-left:0;}
	
	
	.module .row [class*="col"] {margin-bottom:35px;}
	.module .row:last-child [class*="col"]:last-child {margin-bottom:0;}
	
	/*.module > .row > [class*="col"]:last-child {margin-bottom:0;}*/
}