.hidden { display: none;visibility: hidden;}
.visible-phone {display: none !important;}
.visible-tablet {display: none !important;}
.hidden-desktop {display: none !important;}
.visible-desktop {display: inherit !important;}

/* Mobile */
@media only screen 
and (min-width : 320px) 
and (max-width : 767px) {
	.hidden-desktop {display: inherit !important;}
	.visible-desktop {display: none !important;}
	.visible-phone {display: inherit !important;}
	.hidden-phone {display: none !important;}
	
	body {font-size:1em;}
	
	h4 {margin-bottom:1em}
	
	.entry p {font-size:0.9em;}
	
	.padding30 {padding:1em;}
	.padding40 {padding:1em;}
	
	.greyBoxCorner, .orangeBoxCorner {background-size:25px;}
	
	.entry .caption {margin:1em 0!important; padding:1em; width:100%!important;}
	.entry .caption.right, .entry .caption.left {float:none;}
	.entry .caption .image {width:100%;}
	
	.tableOfContent {padding:1em;}

	/*.container [class*="col"] img {margin:20px 0;}*/

	/* Navigation */
	header #mainNavContainer {position:relative; margin-top:0; display:none;}
	header #mainNavContainer .col17 {padding-top:53px;}
	header #mainNavContainer nav ul {margin-left:-20px; margin-right:-20px; padding:10px 0;}
	header #mainNavContainer nav ul li {float:none;}
	header #mainNavContainer nav ul li a,
	header #mainNavContainer nav ul li.home > a {border-right:none; height:auto!important; padding:10px 20px; color:#fff;}
	header #mainNavContainer nav ul li.current.home > a {color:#000; color:#4167b1;}
	header #mainNavContainer nav ul li.current > a {margin-top:auto;}
	header #mainNavContainer nav ul li a br {display:none;}
	header .search {float:none; position:absolute; top:15px; left:20px; right:20px; margin:0; width:auto;}
	header #mainNavContainer nav ul li a i.icon-home {left:20px; top:50%;  right:auto; margin-left:0; margin-top:-8px;}
	header #mainNavContainer nav ul li.home a {padding-left:45px!important;}
	
	header.container {padding-top:65px;}
	header .search {padding-right:34px;}
	#mobileMenu {position:absolute; top:0px; left:0; right:0; height:65px; padding:0;}
	#mobileMenu .logo {position:absolute; top:12px; left:20px; display:block; height:44px; width:55px; background-image:url('../images/icon-sprite.png'); background-position:-1px -210px;}
	#mobileMenu .menuTrigger {position:absolute; top:7px; right:0px; padding:25px 28px; display:block; height:15px; width:18px; background-image:url('../images/icon-sprite.png'); background-position:-81px -204px;}

	.inlineNavigation {margin-top:1em; margin-bottom:1em;}
	.inlineNavigation h2 br {display:none;}
	.inlineNavigation .row {margin-bottom:0;}
	.inlineNavigation .col6 {min-height:0; margin-bottom:3em; }
	.inlineNavigation .row:nth-last-child(1) .col6:nth-last-child(1) {margin-bottom:0;}
	.inlineNavigation a.more {font-size:1em;}
	
	#inlineNav .row .col8.last {display:none;}
	
	#dropdown {display:none!important;}

	/* Breadcrumbs */
	.breadcrumbs {display:none}

	/* Hero */
	#heroImage {padding-top:1.5em; padding-bottom:1.5em;}
	#heroImage .caption a {margin-left:0; display:block; margin-top:1em; font-size:1em;}
	
	/* Hero Highlight */
	#heroHighlight {font-size:1.1em}
	#heroHighlight .text {margin-top:3em;}
	#heroHighlight .text h6 {margin-bottom:1em;}
	#heroHighlight .row.expansion > div {padding-top:3em;}
	#heroHighlight .row.expansion > div:nth-last-child(1) {padding-top:1em;}
	
	#heroHighlight .videoContainer {margin-top:20px}
	
	/* Featured Content */
	.featuredContent .row {margin-bottom:0;}
	.featuredContent .row .row .col15 {margin-bottom:1em;}
	.featuredContent .row .col11 {margin-bottom:3em;}
	.featuredContent .row:nth-last-child(1) .col11:nth-last-child(1) {margin-bottom:0;}
	
	/* Featured Latest */
	.featuredLatest .col8:nth-last-child(1) {margin-top:2em;}
	
	
	/* Modules */
	[class*="module"] {padding-top:1.5em; padding-bottom:1.5em;}
	
	[class*="greyBox"] {padding:1em;}
	
	
	
	/* Banner */
	#banner h1 {font-size:1.4em; line-height:1.2em; margin-bottom:1em;}
	#banner p {font-size:1em;}
	
	/* Publications */
	#banner.publications h1 {font-size:1.5em;}
	#publicationSearch {height:auto; border:0; background-color:transparent; padding-right:3em;}
	#publicationSearch input[type="text"] {background-color:#fff; border: 1px #dfe0e1 solid; padding-right:2em; font-size:0.84em; height:3.46em;}
	#publicationSearch input[type="submit"] {height: 2.53em; width: 2.8em; top:0; bottom:auto; background-size:580%; background: #0065c7 url('../images/icon-sprite.png') no-repeat -101px 12px;}
	#publicationSearch .icon-search-close {right:10px;}
	
	#publicationSearch .filterContainer {top:0!important; margin:10px 0 0 0; padding-left:0!important; border-left:0!important;}
	#publicationSearch .selectboxit-container {background-color:#fff; border:1px #dfe0e1 solid;}
	#publicationSearch .selectboxit-option-icon-container {display:none;}
	#publicationSearch .selectboxit-container > .selectboxit {padding:8px 10px; display:inline-block; height:auto;}
	
	
	
	/* Publication Tables */
	table.tablesorter {}
	table.tablesorter thead {display:none;}
	table.tablesorter tr {border-bottom: 1px #dfe0e1 solid; padding:10px 0!important; display:block; }
	
	table.tablesorter tr:before, table.tablesorter tr:after {clear:both; content: " "; /* 1 */ display: table; /* 2 */}

	table.tablesorter td {float:left; width:100%!important; border-bottom:0; padding:0!important;}
	
	.publicationsTop {font-size:0.8em;}
	.dataTables_wrapper .publicationCount, .dataTables_wrapper .publicationsTop .dataTables_info {color:#505050;}
	.publicationsTop, .dataTables_wrapper .publicationsMiddle {padding-left:0; padding-right:0;}
	.dataTables_wrapper .publicationsTop .dataTables_length {float:none; margin-top:15px;}
	.dataTables_wrapper .publicationsTop .dataTables_length .selectboxit-container {top:-4px; font-size:13px;}
	
	.dataTables_wrapper .publicationsBottom .dataTables_info {font-size:0.8em; padding-top:2em; color:#505050;}
	.publicationsBottom .dataTables_paginate {float:none; font-size:0.8em;}
	
	/* Resources */
	#resources a {display:block; margin-bottom:8px;}
	
	/* Tabs */
	.tab-container .panel-container .panel {padding:1em;}
	
	/* Widgets */
	#banner .widget {margin:0 0 10px 0;}
	.widget [class*="policyBox"], .widget [class*="circularBox"], .widget [class*="reportBox"] {padding:8px; font-size:0.8em; display:inline-block;}
	.widget [class*="policyBox"] br , .widget [class*="circularBox"] br, .widget [class*="reportBox"] br {display:none;}
	
	/* Further Reading */
	.furtherReading .box {min-height:0; margin-bottom:0;}
	.furtherReading.row .col6 {margin-bottom:1em;}
	
	/* Download */
	.download {padding-left:3.5em;}
	
	/* Simple tabs */
	.simpleTabs {margin-bottom:2em;}
	.simpleTabs .tabContent .entry {padding: 0.5em 1.111em 1.111em 1.111em;}
	
	/* Inline link tabs */
	.inlineLinkTabs ul {margin-bottom:20px;}
	.inlineLinkTabs ul li {width:100%; float:none;}
	.inlineLinkTabs ul li a {width:100%; height:auto; border-bottom: 2px #D6D6D6 solid; margin-bottom:6px;}
	
	/* Small search */
	.smallSearch input[type="text"] {margin-bottom:10px;}
	
	/* Footer */
	footer .col8 {margin-bottom:3em;}
	footer h5 {font-size:1.2em;}
	footer a {display:inline-block;}
	footer ul.copy li {float:none; margin-bottom:1em; margin-right:0;}

}

/* Ipad Portrait */
@media only screen 
and (min-width : 768px) 
and (max-width : 959px) {
	.hidden-desktop {display: inherit !important;}
	.visible-desktop {display: none !important;}
  .visible-tablet {display: inherit !important;}
  .hidden-tablet {display: none !important;}
	
	body {font-size:0.95em;}
	header #mainNavContainer {display:block!important;}
	header #mainNavContainer .col17 {width:100%;}
	header #mainNavContainer .col7 {position:absolute; top:20px; right:8px;}
	header .search .submitBtn {background-color:#004c95;}
	
	header #mainNavContainer nav ul li {width:23%;}
	header #mainNavContainer nav ul li.home {width:8%;}
	header #mainNavContainer nav ul li a {padding: 0.667em 2.667em 4em 1.111em; font-size: 1em;}
	header #mainNavContainer nav ul li.current > a {margin-top:-4px; height:5em;}
	
	/* Modules */
	[class*="module"] {padding-top:2.5em; padding-bottom:2.5em;}
	
	#heroImage .col13 {width:70%;}
	
	#heroHighlight {font-size:1.2em;}
	#heroHighlight .text [class*="col"] {width:100%; float:none;}
	
	/* InlineNav */
	.inlineNavigation, #dropdown {font-size:1.2em}
	.inlineNavigation .row, #dropdown .row {margin-bottom:0;}
	.inlineNavigation h2 br {display:none;}
	#inlineNav .row .col6, #dropdown .row .col6  {width:48.65%; min-height:12em;}
	#inlineNav .row .col6:nth-child(2n+0), #dropdown .row .col6:nth-child(2n+0) {margin-right:0;}
	#inlineNav .row .col6 :nth-child(3n+0), #dropdown .row .col6 :nth-child(3n+0) {margin-right:2.7%;}
	#inlineNav .row:nth-last-child(1) .col6:nth-last-child(2), 
	#inlineNav .row:nth-last-child(1) .col6:nth-last-child(1),
	#dropdown .row:nth-last-child(1) .col6:nth-last-child(2), 
	#dropdown .row:nth-last-child(1) .col6:nth-last-child(1) {min-height:1em!important;}
	.menu a.active {height: 5em!important; margin-top: -4px;}
	
	#inlineNav .socialShare {width:170px}
	#inlineNav .socialShare li:first-child {display:block; width:100%; margin-bottom:0;}
	#inlineNav .socialShare li {margin-right:8px!important;}
	
	/* Featured Content */
	.featuredContent h3 {margin-bottom:0;}
	.featuredContent .col11 {font-size:1.1em; width:100%; margin-right:0; margin-left:0; margin-top:3em;}
	.featuredContent > .row {margin-bottom:0;}
	
	/* Featured Latest */
	.featuredLatest {font-size:1.1em;}
	.featuredLatest .row .col8:first-child {width:100%; margin-bottom:1em}
	.featuredLatest .row .col8:nth-child(2n+0) {width:44.3708333333%;}
	.featuredLatest .row .col8:last-child {margin-left:8.55833333333%}
	
	/* Publications */
	.publicationsTop {font-size:0.88em;}
	.publicationsTop .selectboxit-container .selectboxit {font-size:13px;}
	
	#publicationSearch input[type="submit"] {background-size:580%; background: #0065c7 url('../images/icon-sprite.png') no-repeat -99px 14px;}
	
	.dataTables_wrapper table thead .title,
	.dataTables_wrapper table .reference,
	.dataTables_wrapper table .date {padding-left:5%; vertical-align:middle;}
	
	/* Download */
	.download {padding-left:4em;}
	
	/* Inline link tabs */
	.inlineLinkTabs ul li a {width:auto; height:3.5em;}
	
	/* Footer */
	footer {font-size:1.1em;}
	footer .row .block {width:31.5333333333%}
	/*footer .row .col16 {margin-left:8.55833333333%}*/
	footer .row .col16 .row .col12 {width:100%; margin-right:0;}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 960px) {
	header #mainNavContainer {display:block!important;}
}

@media only screen 
and (min-width : 960px) 
and (max-width : 1024px) {
	header #mainNavContainer nav ul li a {font-size:0.8em; padding-top:0.5em;}
	header #mainNavContainer nav ul li.current > a {height:4.5em;}	
	header .search {margin-top:11px;}
	.inlineNavigation h2 br {display:none;}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
#mobileMenu .logo, #mobileMenu .menuTrigger {background-image:url('../images/icon-sprite@2x.png'); background-size:286px auto;}
}