/* =Reset default browser CSS. 
===================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline;}

body {line-height: 1;}
h1, h2, h3, h4, h5, h6 {/*clear: both;*/font-weight: normal;}
ol, ul {list-style: none;}
blockquote {quotes: none;}
blockquote:before, blockquote:after {content: ''; content: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse; border-spacing: 0;}
a img {border: none;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
 
/* =Clearfix 
===================================================================*/
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* Hides from IE-mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
.clearfix:before, .clearfix:after {content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.clearfix:after {clear: both;}
.clearfix {display: inline-block; overflow:visible !important;}
.clearfix:after {clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0;}
.clearfix {display: block;}

/* =Global styles. 
===================================================================*/

/* Icons */
[class*="icon-"], .entry a[target="_blank"]:after, header .search .submitBtn {display:inline-block; *display:inline; zoom:1; cursor:pointer; background-image:url('../images/icon-sprite.png');}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
   [class*="icon-"], .entry a[target="_blank"]:after, header .search .submitBtn {background-image:url('../images/icon-sprite@2x.png'); background-size:286px auto;}
}
.icon-home {height:16px; width:16px; background-position:-77px -61px;}
.icon-home-breadcrumb {height:16px; width:15px; background-position:-59px -61px;}
.icon-expansion {height:21px; width:47px; background-position:-55px -124px;}
.open .icon-expansion {height:20px; width:47px; background-position:-55px -147px;}
.icon-blue-arrow-down {height:8px; width:15px; background-position:0 0;}
.icon-blue-arrow-up {height:8px; width:15px; background-position:0 -10px;}
.icon-blue-arrow-left {height:14px; width:7px; background-position:-21px -19px;}
.icon-blue-arrow-right {height:14px; width:7px; background-position:-21px -1px;}
.icon-grey-arrow-up {height:8px; width:15px; background-position:0 -22px;}
.icon-email {height:15px; width:22px; background-position:0 -37px;}
.icon-rss {height:19px; width:22px; background-position:0 -54px;}
.icon-twitter {height:17px; width:22px; background-position:0 -77px;}
.icon-x-close {height:47px; width:47px; background-position:-110px -123px;}

.icon-light-email {height:15px; width:22px; background-position:0 -178px;}
.icon-light-rss {height:19px; width:22px; background-position:-27px -178px;}
.icon-light-twitter {height:17px; width:22px; background-position:-50px -178px;}

.icon-offsite, .entry a[target="_blank"]:after {height:18px; width:21px; background-position:-1px -95px;}
.icon-pdf {height:32px; width:32px; background-position:-42px -82px;}
.icon-word {height:32px; width:32px; background-position:-112px -82px;}
.icon-excel {height:32px; width:32px; background-position:-77px -82px;}
.icon-zip {height:32px; width:32px; background-position:-147px -82px;}
.icon-download {height: 16px; width: 13px; background-position: -42px -62px;}
.icon-blue-plus {height:18px; width:18px; background-position:-41px -35px;}
.icon-blue-minus {height:18px; width:17px; background-position:-58px -35px;}
.icon-orange-clock {height:49px; width:49px; background-position:0 -119px;}
.icon-update {height:16px; width:16px; background-position:-25px -100px;}
.icon-search-close {height:16px; width:16px; background-position:-76px -37px;}

.icon-social-twitter {height:34px; width:34px; background-position:-183px -82px;}
.icon-social-facebook {height:34px; width:34px; background-position:-183px -120px;}
.icon-social-google {height:34px; width:34px; background-position:-183px -158px;}
.icon-social-email {height:34px; width:34px; background-position:-183px -196px;}

a:hover .icon-social-twitter {height:34px; width:34px; background-position:-222px -82px;}
a:hover .icon-social-facebook {height:34px; width:34px; background-position:-222px -120px;}
a:hover .icon-social-google {height:34px; width:34px; background-position:-222px -158px;}
a:hover .icon-social-email {height:34px; width:34px; background-position:-222px -196px;}

/*Padding */
.padding50 {padding:3.125em;}
.padding40 {padding:2.500em;}
.padding30 {padding:1.875em;}
.padding20 {padding:1.250em;}
.padding10 {padding:0.556em;}

/* Margin */
[class*="margin"][class*="T60"] {margin-top:3.750em;}
[class*="margin"][class*="T50"] {margin-top:3.125em;}
[class*="margin"][class*="T40"] {margin-top:2.500em;}
[class*="margin"][class*="T35"] {margin-top:2.188em;}
[class*="margin"][class*="T30"] {margin-top:1.875em;}
[class*="margin"][class*="T25"] {margin-top:1.563em;}
[class*="margin"][class*="T20"] {margin-top:1.250em;}
[class*="margin"][class*="T15"] {margin-top:0.938em;}
[class*="margin"][class*="T10"] {margin-top:0.625em;}
[class*="margin"][class*="T05"] {margin-top:0.313em;}

[class*="margin"][class*="B60"] {margin-bottom:3.750em;}
[class*="margin"][class*="B50"] {margin-bottom:3.125em;}
[class*="margin"][class*="B40"] {margin-bottom:2.500em;}
[class*="margin"][class*="B35"] {margin-bottom:2.188em;}
[class*="margin"][class*="B30"] {margin-bottom:1.875em;}
[class*="margin"][class*="B25"] {margin-bottom:1.563em;}
[class*="margin"][class*="B20"] {margin-bottom:1.250em;}
[class*="margin"][class*="B15"] {margin-bottom:0.938em;}
[class*="margin"][class*="B10"] {margin-bottom:0.625em;}
[class*="margin"][class*="B05"] {margin-bottom:0.313em;}

/* Main */
html,body {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
  height: 100%; /* fixes focus scrolling in Safari (OS X) */
}
body {-webkit-font-smoothing: antialiased; font-size:1.125em; /* 18px */ font-family: 'Open Sans', sans-serif; font-weight:400; font-style:normal;}
input, text-area {-webkit-font-smoothing: antialiased; font-size:1.125em;}

h1 {font-size:2.000em; line-height:2em; margin-bottom:1em; font-weight:700}
h2 {font-size:1.333em; line-height:1.6em; margin-bottom:1.2em; font-weight:400}
h3 {font-size:1.111em; line-height:2.000em; margin-bottom:1.556em; font-weight:700}
h4 {font-size:1.000em; line-height:1.389em; margin-bottom:1.444em; font-weight:600}
h5 {font-size:0.889em; line-height:1.389em; margin-bottom:1.556em; font-weight:400; font-style: italic;}
h6 {font-size:0.667em; line-height:1.389em; margin-bottom:1.556em; font-weight:400; text-transform:uppercase;}

h2 a, h3 a, h4 a, h5 a, h6 a {color:#000!important}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {color:#3399ff!important}

/* h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#000;} */
a {text-decoration:none; color:#0065c7; text-decoration:underline;}
a:visited {color:#2e3191;}
a:hover {color:#3399ff}
a:active {color:#000;}

p {line-height:1.667em;}

.floatLeft, .alignLeft {float:left;}
.floatRight, .alignRight {float:right;}

.strong {font-weight:bold;}

hr {background-color:#cccccc; border:0; height:5px;}
hr.simpleLine {height:1px; background-color:#dfe0e1; margin:0 auto; max-width:1100px;}

.videoContainer {position: relative !important; padding-bottom: 56.25% !important;}
.videoContainer > * {position: absolute !important; top: 0 !important; left: 0 !important; width: 100% !important; height: 100% !important;}

body > header {background-color:#4167b1; padding:1em 0 0 0; position:relative;}

header nav#subNav ul {float:right;}
header nav#subNav ul li {float:left; margin-left:2.222em;}
header nav#subNav ul li:first-child {margin-left:0;}
header nav#subNav ul li a {text-decoration:none; font-size:0.778em; color:#fff; font-weight:600; text-decoration:underline;}
header nav#subNav ul li a i {margin-right:5px; position:relative; top:2px; margin-top:-5px;}
header nav#subNav ul li a i.icon-light-rss {top:3px;}
header nav#subNav ul li a:hover {color:#bbc7e0}

header #mainNavContainer {margin-top:16px; background-color:#1a4175;}

header #mainNavContainer nav ul li {float:left;}
header #mainNavContainer nav ul li a {display:block; position:relative; cursor:pointer; text-decoration:none; padding:0.667em 2.667em 0.667em 1.111em; height:3.88em; font-size:0.889em; line-height:20px; font-weight:600; color:#fff; border-right:1px #4167b1 solid;}
header #mainNavContainer nav ul li a:hover {background-color:#16365b;}
header #mainNavContainer nav ul li.current > a {color:#000; background-color:#f7f7f8; margin-top:-8px; height: 4.4em;}
header #mainNavContainer nav ul li.current.home > a {margin-top:0; height:3.88em; background-color:#fff;}
header #mainNavContainer nav ul li a i {position:absolute; top:0.944em; right:1.111em;}
header #mainNavContainer nav ul li.plus a {padding-right:2.611em;}
header #mainNavContainer nav ul li a.select {}
header #mainNavContainer nav ul li a.open {}

header #mainNavContainer nav ul li a i.icon-home {right:0; left: 50%; margin-left:-8px;}
header #mainNavContainer nav ul li.current a i.icon-home {background-position: -95px -61px;}

header .search {width:100%; margin:13px 13px 0 0; padding:0 38px 0 0; position:relative; float:right;}
header .search .searchBox {width:100%; padding:10px 10px; font-size:0.889em; color:#585858; height:34px; border:none; vertical-align:middle; border-radius:0;}
header .search .searchBox:focus {outline:none;}
header .search .submitBtn {width:34px; height:34px; position:absolute; top:0; right:0; background-position:-109px 6px; background-color:#0065c7; border:none; text-indent:-9999px; overflow:hidden; text-transform:uppercase; border-radius: 0;}

#dropdown {padding-bottom:2.500em;}

#dropdown .subNavContainer {padding:2.500em 0 0 0;}
#dropdown .subNavContainer .row {margin-bottom:2em;}
/* #dropdown .subNavContainer .row [class*="col"] {border-right:1px #cccccc solid;} */
#dropdown .subNavContainer .row .last {border-right:none;}
#dropdown .subNavContainer ul {margin-top:0.5em; margin-bottom: 1em;}
#dropdown .subNavContainer ul li {list-style: disc; font-size: 8px; margin-bottom: 12px; line-height: 2.1em; margin-left: 12px;}
#dropdown .subNavContainer ul li a {font-size:1.75em; text-decoration:none;}
#dropdown .subNavContainer h4 {font-size: 1em; font-weight: 600;margin-bottom: 14px;}
#dropdown .subNavContainer h4 a {text-decoration:none;}
#dropdown .subNavContainer h4 a span {border-bottom: 1px #0065c7 solid;}

/*#dropdown .subNavContainer a {font-size:0.722em; line-height:1.6em;}*/
#dropdown .subNavContainer .sectionTitle {font-size:0.889em; color:#333333; }
#dropdown .subNavContainer .sectionTitle, 
#dropdown .subNavContainer .more {font-weight:400; display:inline-block; *display:inline; zoom:1; color:#333333; text-decoration:none;}
#dropdown .subNavContainer .more {font-size:0.778em; font-weight:400;}
#dropdown .subNavContainer .more:hover {color:#3399ff;}

#dropdown .subNavContainer h2 {font-weight:400; line-height:30px; margin-bottom:10px;}
#dropdown .subNavContainer p {font-size:0.889em}

#dropdown .close {text-align:center; margin-top:2em;}
#dropdown .close a {font-size:0.889em;}
#dropdown .close a i {margin-left:10px; position:relative; top:2px;}

/* Menu stuff */
#dropdown {width:100%; margin:0 auto; border-top:none; display:none; position:relative; overflow:hidden;}
#ajax {}
/* #ajax h2 {text-align: center; font-size: 40px; color:#bbb;} */
.loading {/* background: transparent url(../images/loading.gif) no-repeat center center; */}
	
#dropdown.minheight {min-height: 270px; height: auto; _height: 270px; /* for IE6 */}
#main {padding: 20px 0 0 0;}

.menu a.active {color:#000!important; background-color:#fff!important; height:4.4em!important; margin-top:-8px;}
#ajax {overflow: hidden;}

/* Buttons */
.btn {
	display: inline-block;
	padding: 0.6em 1.6em;
	margin-bottom: 0;
	font-size: 1.125em;
	line-height: 1.250em;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-repeat: repeat-x;
	border: none;
	border-bottom:1px #545455 solid;
	-webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
	font-weight: 100;
}
.btn.small {padding:0.6em 1.222em; font-size:0.889em; height:40px;}

.btn.blue {background-color:#0065c7; color:#fff;}

/* Colours */
.greyBkgd {background-color:#f7f7f8;}

/* Standard Content */
.standardContent p, .standardContent ul li {font-size: 0.889em; line-height: 1.444em; color: #333333;}
.standardContent p {margin-bottom:0.889em;}
.standardContent p:last-child {margin-bottom:0;}

/* Social sharing links */
#inlineNav .socialShare {float:right;}
.socialShare li {float:left; list-style:none!important; font-size:0.889em!important; font-weight:600; color:#999999; line-height:2.1em; margin-right:12px; margin-left:0!important;}

/* Modules
----------------------------*/
[class*="module"] {background-color:#fff; padding-top:3em; padding-bottom:3em;}
.moduleBlue {background-color:#4167b1;}
.moduleDarkBlue {background-color:#00274d;}
.moduleGrey {background-color:#f7f7f8;}
.moduleDark {background-color:#e5e5e5;}

#heroImage {padding-top:3.444em; padding-bottom:3.444em;}
#heroImage .caption {background-color:#00274d; padding:1.778em;}
#heroImage .caption h2 {font-size:1.556em; color:#fff; line-height:1.35em; margin-bottom:0.5em;}
#heroImage .caption a {font-size:0.889em; color:#fff; cursor:pointer;}
#heroImage .caption a:hover {color:#bbc7e0}
#heroImage .caption a i {margin-left:8px;}

#hero.home {}
#hero.home h1 {color:#fff; font-size:1.833em; line-height:1.3em; font-weight:400; margin-bottom:1em;}

#openHero {position:relative; padding:0!important;}
#openHero .row {padding-top:3em; padding-bottom:4.5em;}
#openHeroTrigger {cursor:pointer;}
#openHero:before {content:''; display:block; position:absolute; bottom:-3em; left:50%; width:0; height:0; border-left:20px solid transparent; border-right:20px solid transparent; border-bottom:20px solid #f7f7f8;}
#openHero .closeBtn {position:absolute; bottom:0.5em; left:50%;}
#openHero.moduleDarkBlue {color:#fff;}
#openHero.moduleDarkBlue a {color:#73b9fe;}
#openHero.moduleDarkBlue h4 {margin-bottom:0.5em;}
#openHero.moduleDarkBlue p {line-height:1.4em; font-size:0.889em; margin-bottom:1.6em;}
#openHero.moduleDarkBlue ul li {font-size:0.889em; line-height:1.4em; margin-bottom:0.3em;}

#heroHighlight h4 {margin: -5px 0 0.3em 0; line-height:1.3em;}
#heroHighlight p, #heroHighlight h6, #heroHighlight a {font-size:0.889em;}
#heroHighlight ul {margin:22px 0}
#heroHighlight ul li {margin-bottom:10px;}

#heroHighlight {position:relative;}
#heroHighlight .row.expansion > div {}

#heroHighlight {padding-bottom:20px}
#heroHighlight .triggerContainer {background-color:#fff;}
#heroHighlight .expansionTrigger {cursor:pointer;}
#heroHighlight .icon.expansionTrigger {width:47px; margin:0 auto 20px auto; position:absolute; bottom:-22px; left:0; right:0;}

#banner h1 {line-height:1.3em;}
#banner p {font-size:1.111em; line-height:1.556em; font-weight:400;}

.breadcrumbs {font-size:0.667em; padding-top:2.5em; background-color:#f7f7f8; margin-bottom: -2em;}
.breadcrumbs ul li {float:left; margin-right:0.833em;}
.breadcrumbs ul li .divider {color:#989898; font-family: Lucida Sans Unicode, Arial Unicode MS, sans-serif!important;}
.breadcrumbs .icon-home-breadcrumb {position:relative; top:-2px; float:left; margin-right:10px;}

.inlineNavigation {/*padding-bottom:0.6em;*/}
.inlineNavigation .row {margin-bottom:1.8em;}
.inlineNavigation .row:last-child {margin-bottom:0;}
.inlineNavigation h4 {font-size:1em; font-weight:600; margin-bottom:14px;}
.inlineNavigation h4 a {color:#000; text-decoration:none;}
.inlineNavigation h4 a:hover {color:#3399ff}

.inlineNavigation a span {border-bottom:1px #0065c7 solid;}
.inlineNavigation ul {margin-bottom:0.9em;}
/* .inlineNavigation ul li:before {content: '·'; font-size: 2em; position:relative; top:6px; margin-right:5px;}*/
.inlineNavigation ul li {list-style:disc; font-size:8px; margin-bottom:12px; line-height:2.1em; margin-left:12px;}
.inlineNavigation ul li a {font-size:1.750em; text-decoration:none;}
.inlineNavigation a.more {font-size:0.778em;}
.inlineNavigation .more {text-decoration:none; color:#000000;}


.featuredContent {padding-bottom:0.6em;}
.featuredContent > .row {margin-bottom:3.444em;}
.featuredContent h3 {font-size:1.333em; margin-bottom:1.5em;}
.featuredContent h4 {font-size:1em; line-height:1.667em; margin-bottom:0em;}
.featuredContent h4 a {color:#0065c7;}
.featuredContent h4 a:visted {color:#2e3191;}
.featuredContent h4 a:hover {color:#3399ff}
.featuredContent h4 a:active {color:#000}

#banner.publications h1 {margin-bottom:0.5em;}
#banner.publications {padding-bottom:1.8em;}

#publicationSearch {max-width:700px;}
#publicationSearch {height:3.333em; padding-right:3.444em; position:relative; background-color:#fff; border:1px #dfe0e1 solid;}
#publicationSearch .searchBox {width:100%;}
#publicationSearch .searchBox [class*="col"] {}
#publicationSearch .searchBox .last {border-right:none;}
#publicationSearch input[type="text"] {width:100%; height:3.2em; font-weight:300; color:#999999; font-size:1em; padding:0.8em 2em 0.8em 0.8em; border:none; border-radius:0;}
#publicationSearch input[type="text"]:focus {outline:none;}
#publicationSearch input[type="submit"] {position:absolute; top:-1px; bottom:-1px; right:-1px; cursor:pointer; width:3.333em; background:#0065c7 url('../images/icon-sprite.png') no-repeat -235px 14px; border:none; margin:0; border-radius:0;}
#publicationSearch .col16 {position:relative;}
#publicationSearch .icon-search-close {position:absolute; top:50%; margin-top:-8px; right:0; cursor:pointer;}

.publicationsTop {background-color:#f7f7f8; padding:0 20px 1.444em 20px;}

.dataTables_wrapper .publicationCount,
.dataTables_wrapper .publicationsTop .dataTables_info {padding:0 0 0 0;}
.dataTables_wrapper .publicationsBottom .dataTables_info {padding:4em 0 0 0;}

.dataTables_wrapper .publicationsTop .dataTables_length {float:right; margin-right:3.9em;}
.dataTables_wrapper .publicationsTop .dataTables_length .selectboxit-container {top:-3px; font-size:15px; color:#0065c7;}

.publicationShow ul li {float:left; margin-right:0.444em;}
.publicationShow ul li .current, #publications.module .publicationShow ul li a {display:block; padding:0.5em; position:relative; top:-0.5em;}
.publicationShow ul li .current {color:#999999;}
.publicationShow ul li a {background-color:#999999; color:#fff; text-decoration:none;}

.dataTables_wrapper .publicationsMiddle {padding:0.8em 20px 0 20px;}

.dataTables_wrapper table thead {text-align:left; border-bottom:1px #dfe0e1 solid; /* background-color:#f7f7f8; */}
.dataTables_wrapper table thead th {padding:20px 0;}

.dataTables_wrapper table td {font-size:0.889em; line-height:1.667em; padding-top:20px; padding-bottom:20px; border-bottom:1px #dfe0e1 solid;}

.dataTables_wrapper table thead .title {padding-left:4%;}
.dataTables_wrapper table .title {width:43%; padding-right:8.5%; padding-left:1%;}
.dataTables_wrapper table .reference {width:18%; padding-right:8.5%; padding-left: 4%;}
.dataTables_wrapper table .date {width:18%; padding-right:1%; padding-left: 4%;}

.dataTables_wrapper table thead tr .headerSortUp,
.dataTables_wrapper table thead tr .headerSortDown,
.dataTables_wrapper table thead tr .header {background-position:10px center; background-repeat:no-repeat;}
.dataTables_wrapper table thead tr .header {background-image:url('../images/arrowSort.png')}
.dataTables_wrapper table thead tr .headerSortUp {background-image:url('../images/upArrow.png')}
.dataTables_wrapper table thead tr .headerSortDown {background-image:url('../images/downArrow.png')}

.dataTables_wrapper .pagination {position:relative; top:-0.5em; float:right;}
.dataTables_wrapper .pagination li {float:left; margin-right:0.444em; font-size:0.889em;}
.dataTables_wrapper .pagination li a, #publications.module .pagination li .current {display:block; padding:1em 1.1em; font-weight:600; text-decoration:none;}
.dataTables_wrapper .pagination li a {background-color:#f7f7f8;}
.dataTables_wrapper .pagination li a.number {background-color:#0065c7; color:#fff;}
.dataTables_wrapper .pagination li .current {color:#999999;}
.dataTables_wrapper .pagination li i {position:relative; top:1px;}
.dataTables_wrapper .pagination li .prev i {margin-right:0.5em;}
.dataTables_wrapper .pagination li .next i {margin-left:0.5em;}

.publicationsBottom .dataTables_paginate {position:relative; float:right; margin-top:3.1em;}

.dataTables_paginate .paginate_button {margin-right:0.444em; font-size:0.889em; float:left; background-color:#0065c7; color:#fff;}
.dataTables_paginate .paginate_button:hover {background-color:#1a4175; cursor:pointer;}
.dataTables_paginate .paginate_button, .pagination li .current {display:block; padding:1em 1.1em; font-weight:600; text-decoration:none;}
.dataTables_paginate .paginate_button.previous, .dataTables_paginate .paginate_button.next {background-color:#f7f7f8; color:#0065c7;}
.dataTables_paginate .paginate_button.current {color:#999999; background:none;}
.dataTables_paginate .paginate_button.disabled {color:#BABABA;}

table.dataTable thead .sorting {text-align:left; background-image:url('../images/arrowSort.png'); background-position:10px center; background-repeat:no-repeat; cursor:pointer;}
table.dataTable thead .sorting_asc {text-align:left;  background-image:url('../images/upArrow.png'); background-position:10px center; background-repeat:no-repeat; cursor:pointer;}
table.dataTable thead .sorting_desc {text-align:left;  background-image:url('../images/downArrow.png'); background-position:10px center; background-repeat:no-repeat; cursor:pointer;}

.publicationsBottom {padding-bottom:70px;}

.originalDocument {display:inline-block; padding:5px; font-size:0.8em; line-height:0.8em; background-color:#999999; color:#fff; text-decoration:none;}

#resources h3 {font-weight:700;}
#resources h4 {font-weight:700; margin-bottom:1em;}
#resources h4 a {font-size:1em; color:#000;}
#resources h4 a:hover {color:#3399ff;}
#resources ul li {margin-bottom:1em;}
#resources a {font-size:0.889em; line-height:1.667em;}

/* Download box */
.download {font-size:0.889em; text-decoration:none; display:block; position:relative; margin:0.5em 0; padding:1em 0.556em 1em 3em; background-color:#fff; min-height: 3.2em;}
.download .icon-pdf, .download .icon-word, .download .icon-excel, .download .icon-zip {position:absolute; left:0.556em; top:0.556em;}
.download span {color:#666666; margin-right:0.5em;}
.download .type {text-decoration:underline;}
.download .icon-download {position:relative; top:2px;}

.downloadSmall {font-size:0.778em; line-height:1.4em; display:block; text-decoration:none; position:relative; margin:0.8em 0; padding:1.2em 3.5em 1em 3.8em; background-color:#fff; min-height:3.5em;}
.downloadSmall .docType {position:absolute; left:0.556em; top:0.556em;}
.downloadSmall .title {text-decoration:underline;}
.downloadSmall .size {text-decoration:none; color:#666666; margin-left:0.5em;}
.downloadSmall .icon-download {position:absolute; top:50%; right:1em; margin-top:-8px;}

/* Simple tabs */
.simpleTabs {margin-bottom:3.333em;}
.simpleTabs .tab .tabTrigger {cursor:pointer; display:block; padding:0.8em 1em; /* margin-left:-1.111em; */ background-color:#f7f7f8; margin-bottom:0.556em; font-weight:600;}

.simpleTabs .tab .tabTrigger i {position:relative; top:1px; margin-right:0.667em;}
.simpleTabs .tabContent {display:none;}
.simpleTabs .tabContent.grey {background-color:#f7f7f8;}
.simpleTabs .tabContent .entry {padding:1.111em; /*background-color:#f7f7f8;*/ margin:0 0 10px 0;}
/*.simpleTabs .tabContent p {font-size:0.889em;}*/

/* Inline link tabs */
.inlineLinkTabs {background-color:#f7f7f8;}
.inlineLinkTabs ul li {float:left; margin-right:0.5em;}

.inlineLinkTabs a {display:block; text-decoration:underline; color:#0065c7; font-size:0.889em; height:4.5em; padding:1em; width:10.5em; background-color:#e5e5e5;}
.inlineLinkTabs a:hover {color:#3399ff; background-color:#dfe0e1;}
.inlineLinkTabs a.active {text-decoration:none; color:#000; background-color:#fff;}

/* Further reading */
.furtherReading {margin-bottom:60px; margin-top:20px;}
.furtherReading .box {padding:0.833em; min-height:156px; background-color:#f7f7f8; margin-bottom:20px;}
.furtherReading .box h6 {color:#666666;}
.furtherReading .box a {font-size:0.778em; line-height:1.333em;}

/* Tabs */
.tab-container .etabs { margin: 0; padding: 0; }
.tab-container .tab { display:block; float:left; margin-right:10px;}
.tab-container .tab a { display:block; width:10.833em; height:4.8em;  background: #fdfdfd; font-size:0.889em; line-height:1.3em; display: block; padding:1em; outline: none; text-decoration: underline;}
.tab-container .tab.active a { background-color:#f7f7f8; }
.tab-container .tab a:hover {background-color:#EBEBEB}
.tab-container .tab a.active {color:#000; text-decoration:none;}
.tab-container .panel-container {background:#f7f7f8;}
.tab-container .panel-container .panel {background:#f7f7f8; padding:2.500em 1.667em;}

/* Idents */
.indent {font-size:0.889em; line-height:1.444em; border-left:10px #dfe0e1 solid; padding:0.944em 0 0.5em 1.389em; margin-bottom:2.667em;}
.indent p {margin-bottom:1.333em;}
.indent ul {margin:1.333em 0 0 2.500em; list-style:disc;}
.indent ul li {margin-bottom:1.111em;}

/* Box corners */
[class*="greyBox"] {/*margin-left:-1.111em;*/ margin-bottom:3em; padding:1.5em 1.8em 2.4em 1.8em; background-color:#f7f7f8;}
.greyBoxCorner {background-image:url('../images/greyCorner.png'); background-position:top right; background-repeat:no-repeat; }

[class*="orangeBox"] {/*margin-left:-1.111em;*/ margin-bottom:3em; padding:1.5em 4em 1.5em 1.8em; background-color:#fee6bf;}
.orangeBoxCorner {background-image:url('../images/orangeCorner.png'); background-position:top right; background-repeat:no-repeat; }
.panel-container .orangeBoxCorner, .greyBkgd .orangeBoxCorner {background-image:url('../images/orangeCornerGrey.png');}

.blueTimelyCorner {color:#fff; margin-bottom:-1.5em; margin-top:-1.5em; padding:1.111em 92px 1.111em 1.111em; background-color:#004c95; background-image:url('../images/timelyCorner.png'); background-position:top right; background-repeat:no-repeat; }
.blueTimelyCorner ul li {font-size:0.889em; line-height:1.4em; margin-bottom:1.111em;}
.blueTimelyCorner ul li a {color:#fff;}

.orangeBoxCorner p {font-size:0.889em; line-height:1.444em; margin-bottom:1.5em;}
.orangeBoxCorner p:last-child {margin-bottom:0;}

.iconLeft {padding-left:5.000em; position:relative;}
.iconLeft [class*="icon-"] {position:absolute; left:1.2em; top:1.35em;}

/* Table of content */
.tableOfContent {padding:2.778em 5.556em;}
/*.tableOfContent p, .tableOfContent ul li {font-size:0.889em; line-height:1.444em; line-height:; color:#333333;}*/
.tableOfContent ul {margin:1.333em 0 0 2.500em; list-style:disc;}
.tableOfContent ul li {margin-bottom:1.111em;}

/* Small search */
.smallSearch {margin-bottom:15px; }
.smallSearch input[type="text"] {width:190px; border:1px #cac9ca solid; padding:0 0.556em; font-size:0.778em; color:#999999; height:40px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}

/* Article
----------------------------*/
/*.entry {margin-bottom:3em;}*/
.entry p {margin-bottom:1.278em; line-height:1.556em; color:#333333;}
.entry p:last-child {margin-bottom:0;}

.entry ul {margin:1.333em 0 1.278em 2.500em; list-style:disc;}
.entry ul li {margin-bottom:1.111em; font-size:0.889em; line-height:1.444em; }

.entry ul.lower-alpha {list-style:lower-alpha;}

.entry img {max-width:100%; height:auto; margin-bottom:1em}
.entry .alignCenter {margin-bottom:1.278em;}
.entry .alignLeft {margin:0 2em 1.278em 0}
.entry .alignRight {margin:0 0 1.278em 2em}

.entry a[target="_blank"]:after {content:' '; margin-left:5px;}

/*
.entry table {}
.entry table tr td.first {border-left:3px #f7f7f8 solid;}
.entry table tr td.last {border-left:3px #f7f7f8 solid;}
*/

table.basic {font-size:0.778em; text-align:left; background-color:#fdfdfd; margin-bottom:50px;}
table.basic th {background-color:#e5e5e5;}
table.basic tr > td, table.basic tr > th {border-left:#cccccc 1px solid; padding:15px 12px;}
table.basic tr > td:first-child, table.basic tr > th:first-child {border-left:none;}
table.basic tr th.firstTD {border-left:4px #e5e5e5 solid;}
table.basic tr th.lastTD {border-right:4px #e5e5e5 solid;}
table.basic tr td.firstTD {border-left:4px #f7f7f8 solid;}
table.basic tr td.lastTD {border-right:4px #f7f7f8 solid;}
table.basic tr td {border-bottom:4px #f7f7f8 solid;}

.entry .caption {padding:1.222em; background-color:#f7f7f8;}
.entry .caption h4 {color:#0065c7;}
.entry .caption p {font-size:0.778em;}
.entry .caption .image {margin-bottom:20px;}
.entry .caption.left {float:left; margin:0 40px 40px 0}
.entry .caption.right {float:right; margin:0 0 40px 40px;}

/* .entry elements */
.pageUpdate p {color:#666666; font-size:0.889em;}
.pageUpdate i {position:relative; top:1px; margin-right:8px;}

/* Links container */
.linksContainer h4 {margin-bottom:0.8em;}
.linksContainer h4 a {color:#000;}
.col8 > .linksContainer ul {max-width:300px;}
.linksContainer ul {margin-bottom:1.944em; }
.linksContainer ul:last-child {margin-bottom:0;}
.linksContainer ul li {font-size:0.889em; margin-bottom:0.8em; line-height:1.667em;}
.inThisSection .linksContainer a {text-decoration:none;}

/* Side Widgets */
.widget {margin-bottom:2.778em;}
.widget h3 {margin-bottom: 1.333em}
.widget h6 {color:#666666;}

.widget [class*="policyBox"], .widget [class*="circularBox"], .widget [class*="reportBox"] {font-weight:700; padding:0.778em 0.778em 4.222em 0.778em; max-width:9.444em;} 
.widget [class*="policyBox"] h3, .widget [class*="circularBox"] h3, .widget [class*="reportBox"] h3 {font-weight:700; line-height:1.389em; margin-bottom:0;}
.widget .policyBoxPurple {background-color:#b372ca; color:#fff;}
.widget .reportBoxBlack {background-color:#333333; color:#fff;}
.widget .circularBoxOrange {background-color:#fa9d00; color:#fff;}

[class*="category"] {padding: 8px; font-size: 0.8em; display: inline-block; text-transform:none; font-weight:600;}
.categoryBlack {background-color:#333333; color:#fff;}
.categoryPurple {background-color:#b372ca; color:#fff;}
.categoryBlue {background-color:#0065c7; color:#fff;}
.categoryOrange {background-color:#fa9d00; color:#fff;}

.categoryDigitalDoc {background-color:#0065c7; color:#fff;}
.categoryAction {background-color:#fa9d00; color:#fff;}
.categoryPublication {background-color:#ff5c15; color:#fff;}
.categoryTechGuide {background-color:#ef0026; color:#fff;}
.categoryBriefing {background-color:#b372ca; color:#fff;}
.categoryPolicy {background-color:#66cc99; color:#fff;}

.widget .linkCollection li {margin-bottom:1.111em; font-size:0.778em; line-height:1.333em;}
.widget .linkCollection li a {}

.widget .circularLetter h6 {color:#000; font-size:0.778em; line-height:1.4em; text-transform:none; font-weight:600; margin-bottom:1em;}
.widget .circularLetter p, .widget .circularLetter ul li {font-size:0.778em; line-height:1.4em;}
.widget .circularLetter p {margin-bottom:1.5em;}
.widget .circularLetter p:last-child {margin-bottom:0;}
.widget .circularLetter .tags li {margin-bottom:0.5em;}
.widget .circularLetter .tags .tag {display:inline-block; *display:inline; zoom:1; padding:6px 8px; background-color:#f7f7f8;}
.widget .circularLetter .downloadSmall:last-child {margin-bottom:0;}

/* Footer
----------------------------*/
footer h5 {font-size:1.333em; font-style:normal; font-weight:600; color:#fff; border-bottom:1px #508BC4 solid; margin-bottom:1.556em; padding-bottom:1.000em;}
footer ul li {margin-bottom:0.778em;}
footer .moduleBlue a {color:#fff; font-weight:600;}
footer .moduleBlue a:hover {color:#bbc7e0}
footer a {font-size:0.889em; line-height:1.222em;}
footer ul.copy li {float:left; margin-right:1.944em;}

footer .iconContainer i {margin-right:8px; position:relative; top:2px;}
footer .icon-offsite {margin-left:8px; float:right;}

/* Stackable Tables for responsive view 
----------------------------------------- */
.stacktable { width: 100%; display:none;  background-color:#fdfdfd; font-size:0.8em; margin-bottom:3em;}
.stacktable td {padding:8px 8px 15px 8px;}
.st-head-row { padding:10px 5px; text-align:left; background-color: #e5e5e5;}
.st-head-row.st-head-row-main {font-size: 1.5em;}
.st-key { width: 20%; text-align: left; padding-right: 1%; font-weight:600;}
.st-val { width: 49%; padding-left: 1%; }

/* RESPONSIVE EXAMPLE */
.stacktable.large-only { display: table; }
.small-only { display: none; }

@media (max-width: 767px) {
	.stacktable {display:block;}
	.responsive-table {display:none;}
}