/**************************************************************************
*	@name		    Zozo UI Tabs
*	@descripton	    Create awesome tabbed content area
*	@version	    6.5
*   @Licenses: 	    http://codecanyon.net/licenses/
*   @requires       jQuery v1.7 or later
*	@copyright      Copyright (c) 2013 Zozo UI
*   @author         Zozo UI
*   @URL:           http://www.zozoui.com
*   
***************************************************************************/

.z-tabs,.z-tabs > ul,.z-tabs > ul > li,.z-tabs > ul > li > a,.z-tabs > .z-container,.z-tabs > .z-container > .z-content,.z-tabs > .z-container > .z-content > .z-content-inner {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.z-tabs, .z-tabs:before, .z-tabs:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.z-tabs, .z-tabs > ul, .z-tabs > ul > li, .z-tabs > ul > li > a {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    outline: 0 none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.z-tabs > .z-container > .z-content::after, .z-tabs > .z-container > .z-content > .z-content-inner::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.z-tabs > .z-container > .z-content, .z-tabs > .z-container > .z-content > .z-content-inner {
    zoom: 1;
}

.z-tabs {
    clear: both;
    color: #333;
    /*font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; */
}

.z-tabs > ul > li > a {
    color: #111;
    line-height: 18px;
    font-weight: inherit;
    /* font-size: 12px; */
    padding: 13px 24px;
    background: #fff;
    cursor: pointer;
}

.z-tabs > ul > li.z-active > a {
    cursor: default;
}

.z-tabs > ul, .z-tabs > ul > li > a, .z-tabs > .z-container {
 
}

.z-tabs > .z-container {
    padding: 0;
    margin: 0;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.z-tabs > .z-container > .z-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    z-index: 7;
    display: none;
}

.z-tabs > .z-container > .z-content.z-active {
    z-index: 8;
}

.z-tabs > .z-container > .z-content > .z-content-inner {
    height: auto;
}

.z-tabs.mini > ul > li > a {
    font-size: 11px;
    padding: 7px 16px;
}

.z-tabs.small > ul > li > a {
    font-size: 11px;
    padding: 10px 16px;
}

.z-tabs.medium > ul > li > a {
    font-size: 0.85em;
		line-height:1.4em;
    padding: 15px 30px 15px 20px;
}

.z-tabs.large > ul > li > a {
    font-size: 13px;
    padding: 16px 24px;
}

.z-tabs.xlarge > ul > li > a {
    font-size: 14px;
    padding: 19px 28px;
}

.z-tabs.xxlarge > ul > li > a {
    font-size: 15px;
    padding: 22px 32px;
}

.z-tabs.mini.vertical > ul > li > a {
    padding: 7px 13px;
}

.z-tabs.small.vertical > ul > li > a {
    padding: 10px 16px;
}

.z-tabs.medium.vertical > ul > li > a {
    padding: 13px 19px;
}

.z-tabs.large.vertical > ul > li > a {
    padding: 16px 22px;
}

.z-tabs.xlarge.vertical > ul > li > a {
    padding: 19px 25px;
}

.z-tabs.xxlarge.vertical > ul > li > a {
    padding: 22px 28px;
}

.z-tabs.white.z-bordered > ul > li.z-active > a {
    color: #D13636;
}

.z-tabs.vertical.top-right.white.z-bordered > ul > li.z-active > a {
    border-right: 3px solid #D13636;
}

.z-tabs.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    border-left: 3px solid #D13636;
}

.z-tabs.mini.vertical.top-right.white.z-bordered > ul > li.z-active > a {
    border-right: 1px solid #D13636;
}

.z-tabs.mini.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    border-left: 1px solid #D13636;
}

.z-tabs.small.vertical.top-right.white.z-bordered > ul > li.z-active > a {
    border-right: 2px solid #D13636;
}

.z-tabs.small.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    border-left: 2px solid #D13636;
}

.z-tabs.mini.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 10px;
}

.z-tabs.small.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 13px;
}

.z-tabs.medium.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 16px;
}

.z-tabs.large.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 19px;
}

.z-tabs.xlarge.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 22px;
}

.z-tabs.xxlarge.vertical.top-left.white.z-bordered > ul > li.z-active > a {
    padding-left: 25px;
}

.z-tabs.horizontal.top.white.z-bordered > ul > li.z-active > a {
    border-top: 3px solid #F44343;
    margin-top: 0;
    margin-bottom: 0;
}

.z-tabs.mini.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 7px;
    border-top-width: 1px;
}

.z-tabs.small.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 9px;
    border-top-width: 2px;
}

.z-tabs.medium.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 13px;
}

.z-tabs.large.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 14px;
}

.z-tabs.xlarge.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 17px;
}

.z-tabs.xxlarge.horizontal.top.white.z-bordered > ul > li.z-active > a {
    padding-top: 20px;
}

.z-tabs.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    border-bottom: 3px solid #D13636;
    margin-top: 0;
    margin-bottom: 0;
}

.z-tabs.mini.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 5px;
}

.z-tabs.small.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 8px;
}

.z-tabs.medium.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 11px;
}

.z-tabs.large.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 14px;
}

.z-tabs.xlarge.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 17px;
}

.z-tabs.xxlarge.horizontal.bottom.white.z-bordered > ul > li.z-active > a {
    padding-bottom: 20px;
}

.z-tabs.white.mobile.z-bordered > ul > li.z-active > a {
    border-bottom: 3px solid #D13636 !important;
}

.z-tabs-loading {
    position: relative;
    width: 100%;
    min-height: 120px;
}

.z-tabs-loading ul, .z-tabs-loading div {
    display: none;
}

.z-tabs .z-container {
    position: relative;
}

.z-tabs span.z-spinner, .z-tabs-loading .z-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    text-indent: -999em;
    width: 55px;
    height: 55px;
    margin: -28px 0 0 -50px;
    padding: 24px;
    background: rgb(255, 255, 255) url(../img/loading-image.gif) no-repeat 50% 50%;
}

.z-tabs.z-rounded span.z-spinner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.z-tabs .z-video {
    position: relative;
    padding-bottom: 46.25%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.z-tabs .z-video.z-wide-screen {
    padding-bottom: 56.25%;
}

.z-tabs .z-video.z-four-by-three {
    padding-bottom: 75%;
}

.z-tabs .z-video.z-top-padding {
    padding-top: 30px;
}

.z-tabs .z-video iframe,.z-tabs .z-video object,.z-tabs .z-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 50;
}

.z-tabs > ul > li > a i {
    font-size: 1.125em;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    width: 24px;
    display: inline-block;
    margin-top: 0.015em;
}

.z-tabs > ul.z-tabs-mobile > li > a i {
    display: none;
}

.z-tabs.z-icons-large > ul > li > a i {
    font-size: 2.25em;
    display: block;
    margin: 0 auto;
    padding-bottom: 0.65em;
    text-align: center;
    line-height: 0;
    margin-top: 0.65em;
}

.z-tabs.mini > ul > li > a i, .z-tabs.small > ul > li > a i {
    font-size: 1.25em;
}

.z-tabs.z-icons-large > ul > li > a {
    text-align: center;
}

.z-tabs > ul > li > a > span.z-icon, .z-tabs.z-multiline > ul.z-tabs-nav.z-tabs-desktop > li > a > span.z-icon, .z-tabs.z-multiline > ul.z-tabs-nav.z-tabs-mobile > li > a > span > span.z-icon {
    width: 20px;
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
    text-transform: initial;
    text-align: left;
}

.z-tabs.vertical > ul.z-tabs-nav > li > a > span.z-icon, .z-tabs.z-multiline.vertical > ul.z-tabs-nav.z-tabs-desktop > li > a > span.z-icon, .z-tabs.z-multiline.vertical > ul.z-tabs-nav.z-tabs-mobile > li > a > span > span.z-icon {
    width: 24px;
}

.z-tabs.center > ul > li > a, .z-tabs.center.mobile > ul > li > a {
    text-align: center !important;
}

.z-tabs.right > ul > li > a, .z-tabs.right.mobile > ul > li > a {
    text-align: right !important;
}

.z-tabs.left > ul > li > a, .z-tabs.left.mobile > ul > li > a {
    text-align: left !important;
}

.z-tabs.vertical > .z-container > .z-content.z-nopadding > .z-content-inner, .z-tabs.horizontal > .z-container > .z-content.z-nopadding > .z-content-inner, .z-tabs > .z-container > .z-content.z-nopadding > .z-content-inner {
    padding: 0 !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.z-tabs.vertical > ul {
    float: left;
    border-width: 1px 0 1px 1px;
    min-width: 200px;
    width: 25%;
}
/*
.z-tabs.vertical > ul > li > a {
    border-width: 0 0 1px 0;
}

.z-tabs.vertical > ul > li.z-last > a {
    border-bottom-width: 0;
}

.z-tabs.vertical > ul > li.z-active > a {
    border-right-width: 0;
    z-index: 10;
}

.z-tabs.vertical > ul > li.z-active.z-first > a {
    border-bottom-width: 1px;
}

.z-tabs.vertical.top-left > ul {
    margin-left: 0;
    margin-right: -1px;
}

.z-tabs.vertical.top-right > ul {
    margin-right: 0;
    margin-left: -1px;
}
*/
.ie7 body .z-tabs.vertical.top-left > ul {
    margin-right: 0;
}

.ie7 body .z-tabs.vertical.top-right > ul {
    margin-left: 0;
}

.ie7 body .z-tabs.vertical.top-left > ul > li, .ie7 body .z-tabs.vertical.top-left > ul > li > .z-link,.ie7 body .z-tabs.vertical.top-left > ul {
    z-index: 10 !important;
}

.ie7 body .z-tabs.vertical.top-left > ul > li.z-active > a {
    border-right: 1px solid #fff !important;
}

.z-tabs.vertical.top-right > ul {
    float: right;
    border-width: 1px 1px 1px 0;
}

.ie7 body .z-tabs.vertical.top-right > ul > li.z-active > a {
    border-right-width: 0 !important;
    border-left: 1px solid #fff !important;
    left: -1px;
}

.ie7 body .z-tabs.vertical.top-right > ul > li, .ie7 body .z-tabs.vertical.top-right > ul {
    z-index: 10 !important;
}

.ie7 body .z-tabs.vertical.top-right > .z-container {
}

.z-tabs.vertical.z-rounded > .z-container {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.z-tabs.vertical.z-rounded > ul {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.z-tabs.vertical.z-rounded > ul > li.z-first, .z-tabs.vertical.z-rounded > ul > li.z-first > a {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.z-tabs.vertical.z-rounded > ul > li.z-last, .z-tabs.vertical.z-rounded > ul > li.z-last > a {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.z-tabs.vertical.z-rounded.top-right > ul {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.z-tabs.vertical.z-rounded.top-right > ul > li.z-first, .z-tabs.vertical.z-rounded.top-right > ul > li.z-first > a {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.z-tabs.vertical.z-rounded.top-right > ul > li.z-last, .z-tabs.vertical.z-rounded.top-right > ul > li.z-last > a {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.z-tabs.vertical.z-rounded.top-right > .z-container {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.z-tabs.vertical.z-shadows > ul,.z-tabs.vertical.z-shadows > .z-container {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.125);
}

.z-tabs.vertical.z-shadows > ul > li > a {
    -webkit-box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px -3px rgba(0, 0, 0, 0.15);
}

.z-tabs.horizontal > ul > li {
    float: left;
}

.z-tabs.horizontal > ul > li.z-active {
    background: none;
    z-index: 1;
}

.z-tabs.horizontal > ul > li > a {
    margin-right: -1px;
    min-height: 1px;
}

.z-tabs.top-compact > ul > li > a, .z-tabs.bottom-compact > ul > li > a {
    padding-left: 0;
    padding-right: 0;
}

.z-tabs.horizontal.top > ul > li.z-active {
    top: 2px;
    margin-top: -2px;
    padding-bottom: 2px;
}

.z-tabs.horizontal.top > ul > li > a {
		top: 1px;
		border-width: 1px 1px 0 1px;
		border-right:4px #fff solid;
}

.z-tabs.horizontal > ul > li.z-last > a,.z-tabs.horizontal > ul > li.z-last-col > a {
    margin-right: 0 !important;
}

.z-tabs.horizontal > .z-container {
    clear: both;
    zoom: 1;
}

.z-tabs.horizontal.top-center > ul.z-tabs-desktop {
    clear: left;
    float: left;
    left: 50%;
    text-align: center;
}

.z-tabs.horizontal.top-center > ul > li {
    right: 50%;
}

.z-tabs.horizontal.top-right > ul {
    float: right;
    margin: 0 -1px 0 0;
}

.z-tabs.horizontal.top-right > ul > li.z-last {
    margin-right: 1px;
}

.ie7 body .z-tabs.horizontal.top-right > ul > li.z-last {
    margin-right: -1px;
}

.ie7 body .z-tabs.horizontal > .z-container {
    clear: none;
    width: 100%;
}

.z-tabs.horizontal.bottom > ul > li.z-active {
    top: -1px;
    padding-top: 1px;
    z-index: 9;
}

.z-tabs.horizontal.bottom > .z-container {
    z-index: 7;
}

.z-tabs.horizontal.bottom > ul > li > a {
    top: -1px;
    border-width: 0 1px 1px 1px;
}

.z-tabs.horizontal.bottom-center > ul {
    float: left;
    left: 50%;
    text-align: center;
}

.z-tabs.horizontal.bottom-center > ul > li {
    right: 50%;
}

.z-tabs.horizontal.bottom-right > ul {
    float: right;
}

.ie7 .z-tabs.horizontal.top-compact > ul.z-tabs-desktop > li.z-last {
    margin-right: 0;
}

.ie7 .z-tabs.horizontal.bottom-compact > ul.z-tabs-desktop > li.z-last {
    margin-right: 0;
}

.z-tabs.horizontal.responsive > ul > li > a,.z-tabs.horizontal.top-compact > ul > li > a,.z-tabs.horizontal.bottom-compact > ul > li > a,.z-tabs.horizontal.top-center > ul > li > a,.z-tabs.horizontal.bottom-center > ul > li > a {
 }

.z-tabs.horizontal.top.z-rounded > ul > li.z-first,.z-tabs.horizontal.top.z-rounded > ul > li.z-first > a {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.z-tabs.horizontal.top.z-rounded > ul > li.z-last,.z-tabs.horizontal.top.z-rounded > ul > li.z-last > a {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.z-tabs.horizontal.top-left.z-rounded > .z-container {
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.z-tabs.horizontal.top-center.z-rounded > .z-container {
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.z-tabs.horizontal.top-right.z-rounded > .z-container {
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.z-tabs.horizontal.z-rounded.top-compact > .z-container {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -khtml-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.z-tabs.horizontal.z-rounded.bottom > ul > li.z-first,.z-tabs.horizontal.z-rounded.bottom > ul > li.z-first > a {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.z-tabs.horizontal.z-rounded.bottom > ul > li.z-last,.z-tabs.horizontal.z-rounded.bottom > ul > li.z-last > a {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.z-tabs.horizontal.z-rounded.bottom-left > .z-container {
    -webkit-border-radius: 6px 6px 6px 0;
    -moz-border-radius: 6px 6px 6px 0;
    border-radius: 6px 6px 6px 0;
}

.z-tabs.horizontal.z-rounded.bottom-center > .z-container {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.z-tabs.horizontal.z-rounded.bottom-right .z-container {
    -webkit-border-radius: 6px 6px 0 6px;
    -moz-border-radius: 6px 6px 0 6px;
    -khtml-border-radius: 6px 6px 0 6px;
    border-radius: 6px 6px 0 6px;
}

.z-tabs.horizontal.z-rounded.bottom-compact > .z-container {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.z-tabs.horizontal.responsive.top.z-rounded > .z-container {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.z-tabs.horizontal.responsive.bottom.z-rounded > .z-container {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.z-tabs.horizontal.responsive.top.z-rounded > .z-tabs-mobile,.z-tabs.horizontal.responsive.top.z-rounded > .z-tabs-mobile > li {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.z-tabs.horizontal.responsive.bottom.z-rounded > .z-tabs-mobile,.z-tabs.horizontal.responsive.bottom.z-rounded > .z-tabs-mobile > li {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.z-tabs.horizontal.z-shadows > .z-container {
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .125);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .125);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .125);
}

.z-tabs.horizontal.z-shadows > ul > li > a {
    box-shadow: -2px 0px 2px -2px rgba(0, 0, 0, .1);
}

.z-tabs.horizontal.z-shadows > ul > li.z-first > a {
    box-shadow: -3px 1px 1px -3px rgba(0, 0, 0, .2);
}

.z-tabs.horizontal.z-shadows > ul > li.z-last > a {
    box-shadow: 3px 1px 1px -3px rgba(0, 0, 0, .2);
}

.z-tabs.silver > ul, .z-tabs.silver > ul > li > a, .z-tabs.silver > .z-container {

}

.z-tabs.silver > ul > li > a {
		color:#0065c7!important;
		text-decoration:underline;
		background-color: #fdfdfd;
		min-height:3em;
}
.z-tabs.silver.mobile > ul > li > a {min-height:0!important;}

.z-tabs.silver > ul > li > a {
    color: #444;
		
}

.z-tabs.silver > ul > li > a:hover {
    background: #f7f7f8;
		color:#3399ff;
}

.z-tabs.silver.mobile > .z-tabs-mobile > li > a.z-link, .z-tabs.silver > ul > li.z-active > a {
    color:#333333!important;
		text-decoration:none!important;
		background-color:#f7f7f8;
}
.z-tabs.silver.mobile .z-title {font-weight:600;}
.z-tabs.white > ul, .z-tabs.white > ul > li > a, .z-tabs.white > .z-container {
    border-color: #CECECE;
    border-style: solid;
}

.z-tabs.white > ul > li > a {
    background: #fff;
    color: #333;
    text-shadow: 0 1px #f5f5f5;
}

.z-tabs.white > ul > li.z-active > a {
    text-shadow: 0 1px 1px white;
    color: #333;
}

.z-tabs.white.mobile > ul > li.z-active > a {
    font-weight: bold;
}

.z-tabs.underlined,.z-tabs.underlined > ul,.z-tabs.underlined > ul > li,.z-tabs.underlined > ul > li.z-first,.z-tabs.underlined > ul > li.z-last,.z-tabs.underlined > ul > li.z-first.z-active,.z-tabs.underlined > ul > li.z-last.z-active,.z-tabs.underlined > ul > li.z-active,.z-tabs.underlined > ul > li:hover,.z-tabs.underlined > ul > li > a.z-link,.z-tabs.underlined > ul > li > a:hover,.z-tabs.underlined > .z-container {
    border-width: 0;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none;
    filter: none;
}

.z-tabs.underlined > ul > li {
    top: 0;
    padding: 0;
}

.z-tabs.underlined.horizontal > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.z-tabs.underlined.horizontal > ul > li > a {
    top: 0;
    text-shadow: 0 1px 1px white;
    color: #333;
    opacity: 0.80;
    filter: none;
    margin-left: 16px;
}

.z-tabs.underlined.horizontal.top-compact > ul.z-tabs-nav.z-tabs-desktop > li, .z-tabs.underlined.horizontal.top-compact > ul.z-tabs-nav.z-tabs-desktop > li.z-active, .z-tabs.underlined.horizontal.top-compact > ul.z-tabs-nav.z-tabs-desktop > li:hover, .z-tabs.underlined.horizontal.top-left > ul.z-tabs-nav > li.z-first > a, .z-tabs.underlined.horizontal.bottom-left > ul.z-tabs-nav > li.z-first > a {
    margin-left: 0;
}

.z-tabs.underlined.horizontal.top-right > ul.z-tabs-nav > li.z-last > a, .z-tabs.underlined.horizontal.bottom-right > ul.z-tabs-nav > li.z-last > a {
    margin-right: 0;
}

.z-tabs.underlined.horizontal > .z-container > .z-content > .z-content-inner {
    padding: 1.4em 0;
}

.z-tabs.underlined.horizontal.top > ul > li > a:hover,.z-tabs.underlined.horizontal.top> ul > li.z-active > a {
    font-weight: normal;
    margin-bottom: 0;
    border-width: 0 0 3px 0;
    opacity: 1;
}

.z-tabs.underlined.horizontal.top > .z-container {
    border-width: 1px 0 0 0;
}

.z-tabs.underlined.horizontal.bottom > .z-container {
    border-width: 0 0 1px 0;
}

.z-tabs.underlined.horizontal.bottom > ul > li > a {
    margin-top: 3px;
}

.z-tabs.underlined.horizontal.bottom > ul > li > a:hover,.z-tabs.underlined.horizontal.bottom > ul > li.z-active > a {
    font-weight: normal;
    margin-bottom: 0;
    border-width: 3px 0 0 0;
    margin-top: 0;
}

.z-tabs.underlined.vertical > ul {
    border-width: 0;
}

.z-tabs.underlined.vertical > .z-container > .z-content > .z-content-inner {
    padding: 0 2em;
}

.z-tabs.vertical.underlined > ul > li > a {
    filter: none;
    background: transparent;
    margin: 0;
    text-shadow: 0 1px 1px white;
    color: #333;
    margin-left: 3px;
}

.z-tabs.vertical.underlined.top-left > ul {
    border-width: 0 1px 0 0;
}

.z-tabs.vertical.underlined.top-right > ul {
    border-width: 0 0 0 1px;
}

.z-tabs.vertical.underlined > ul.z-tabs-nav > li.z-active > a,.z-tabs.vertical.underlined > ul.z-tabs-nav > li > a:hover {
    font-weight: normal;
    margin-bottom: 0;
    border-width: 0;
    background: #FAFAFA;
}

.z-tabs.vertical.underlined.top-left > ul.z-tabs-nav > li.z-active > a,.z-tabs.vertical.underlined.top-left > ul.z-tabs-nav > li > a:hover {
    border-width: 0 3px 0 0;
}

.z-tabs.vertical.underlined.top-right > ul.z-tabs-nav > li.z-active > a,.z-tabs.vertical.underlined.top-right > ul.z-tabs-nav > li > a:hover {
    border-width: 0 0 0 3px;
    margin-left: 0;
}

.ie7 body .z-tabs.underlined.vertical.top-right > ul.z-tabs-nav > li.z-active {
    border-right-width: 0 !important;
    border-left: 3px solid #444 !important;
    left: -1px;
}

.ie7 body .z-tabs.underlined.vertical.top-left > ul.z-tabs-nav > li.z-active {
    border-right: 3px solid #444 !important;
}

.z-tabs.underlined.horizontal.mini > ul.z-tabs-nav > li > a.z-link {
    padding: 6px 6px;
}

.z-tabs.underlined.horizontal.small > ul.z-tabs-nav > li > a.z-link {
    padding: 8px 8px;
}

.z-tabs.underlined.horizontal.medium > ul.z-tabs-nav > li > a.z-link {
    padding: 10px 10px;
}

.z-tabs.underlined.horizontal.large > ul.z-tabs-nav > li > a.z-link {
    padding: 10px 12px;
}

.z-tabs.underlined.horizontal.xlarge > ul.z-tabs-nav > li > a.z-link {
    padding: 12px 14px;
}

.z-tabs.underlined.horizontal.xxlarge > ul.z-tabs-nav > li > a.z-link {
    padding: 14px 16px;
}

.z-tabs.underlined.horizontal.mini > ul.z-tabs-nav > li:hover, .z-tabs.underlined.horizontal.mini > ul.z-tabs-nav > li.z-active,.z-tabs.underlined.horizontal.small > ul.z-tabs-nav > li:hover, .z-tabs.underlined.horizontal.small > ul.z-tabs-nav > li.z-active {
    border-bottom-width: 2px;
}

.z-tabs.underlined > .z-container,.z-tabs.underlined > ul.z-tabs-nav,.z-tabs.underlined > ul.z-tabs-nav > li > a {
    border-color: #e6e6e6;
}

.z-tabs.underlined.red > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.red > ul.z-tabs-nav > li > a:hover {
    border-color: #DD4B39;
}

.z-tabs.underlined.blue > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.blue > ul.z-tabs-nav > li > a:hover {
    border-color: #00B0D8;
}

.z-tabs.underlined.deepblue > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.deepblue > ul.z-tabs-nav > li:hover {
    border-color: #1E69DE;
}

.z-tabs.underlined.orange > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.orange > ul.z-tabs-nav > li > a:hover {
    border-color: #FD9C00;
}

.z-tabs.underlined.green > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.green > ul.z-tabs-nav > li > a:hover {
    border-color: #093;
}

.z-tabs.underlined.white > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.white > ul.z-tabs-nav > li > a:hover {
    border-color: #D8D8D8;
}

.z-tabs.underlined.crystal > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.crystal > ul.z-tabs-nav > li > a:hover {
    border-color: #999;
}

.z-tabs.underlined.silver > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.silver > ul.z-tabs-nav > li > a:hover {
    border-color: #777;
}

.z-tabs.underlined.gray > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.gray > ul.z-tabs-nav > li > a:hover {
    border-color: #333;
}

.z-tabs.underlined.black > ul.z-tabs-nav > li.z-active > a,.z-tabs.underlined.black > ul.z-tabs-nav > li > a:hover {
    border-color: black;
}

.z-tabs.underlined.mobile > ul.z-tabs-mobile,.z-tabs.underlined.mobile > ul.z-tabs-desktop {
    border-width: 0;
    margin-top: 0;
}

.z-tabs.mobile.underlined> .z-container > .z-content > .z-content-inner {
    padding: 0;
}

.z-tabs.mobile.underlined > .z-container {
    border-width: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.z-tabs.underlined.mobile > ul.z-tabs-mobile.z-state-closed {
    border-width: 0;
}

.z-tabs.underlined.mobile.vertical > .z-container > .z-content .z-content-inner {
    padding: 2em;
}

.z-tabs.underlined.mobile > ul.z-tabs-nav > li > a {
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.z-tabs.underlined.mobile > ul.z-tabs-desktop > li > a {
    -moz-transition: background-color 200ms ease-out, color 200ms ease-out,text-shadow 200ms ease-out;
    -o-transition: background-color 200ms ease-out, color 200ms ease-out,text-shadow 200ms ease-out;
    -webkit-transition: background-color 200ms ease-out, color 200ms ease-out,text-shadow 200ms ease-out;
    -ms-transition: background-color 200ms ease-out, color 200ms ease-out,text-shadow 200ms ease-out;
    transition: background-color 200ms ease-out, color 200ms ease-out,text-shadow 200ms ease-out;
}

.z-tabs.underlined.mobile > ul.z-tabs-nav > li > a {
    border-color: #E6E6E6;
    background: #fff;
    border-width: 0 0 1px 0 !important;
    opacity: 1;
    border-style: dotted;
}

.z-tabs.underlined.mobile.hover > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover > ul.z-tabs-desktop > li:hover > a {
    background: #FAFAFA;
    color: #333;
    text-shadow: 1px 0px 1px rgba(175, 175, 175, 0.25);
}

.z-tabs.underlined.mobile.m-red > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover.m-red > ul.z-tabs-desktop > li:hover > a {
    color: #DD4B39;
}

.z-tabs.underlined.mobile.m-blue > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover.m-blue > ul.z-tabs-desktop > li > a:hover {
    color: #00B0D8;
}

.z-tabs.underlined.mobile.m-deepblue > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover.m-deepblue > ul.z-tabs-desktop > li:hover > a {
    color: #1E69DE;
}

.z-tabs.underlined.mobile.m-orange > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover.m-orange > ul.z-tabs-desktop > li:hover > a {
    color: #FD9C00;
}

.z-tabs.underlined.mobile.m-green > ul.z-tabs-desktop > li.z-active > a,.z-tabs.underlined.mobile.hover.m-green > ul.z-tabs-desktop > li:hover > a {
    color: #093;
}

.z-tabs.z-multiline.white > ul > li.z-active, .z-tabs.z-multiline.white > ul > li:hover {
    opacity: 1;
}

.z-tabs.z-multiline > ul > li > a {
    line-height: 18px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.z-tabs.z-multiline > ul.z-tabs-desktop > li > a.z-link > span,.z-tabs.z-multiline > ul.z-tabs-mobile > li > a.z-link > span > span {
    display: block;
    font-size: .9em;
    font-weight: normal;
    text-transform: none;
    line-height: 1.65em;
    opacity: 1;
    margin-top: 0.05em;
    letter-spacing: 0px;
}

.z-tabs.z-multiline > ul.z-tabs-desktop > li > a > span.z-icon,.z-tabs.z-multiline > ul.z-tabs-mobile > li > a > span > span.z-icon {
    line-height: 1em;
}

.z-tabs.clean.horizontal > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.z-tabs.clean > ul > li.z-active > a {
    font-weight: bold;
}

.z-tabs.clean.white.z-bordered > ul > li.z-active > a {
    color: inherit;
}

.z-tabs.clean > .z-container {
    border-width: 0;
    background: none;
}

.z-tabs.clean.horizontal > .z-container > .z-content > .z-content-inner {
    padding: 24px 0;
}

.z-tabs.clean.horizontal.top > ul > li > a {
    border-bottom-width: 1px;
}

.z-tabs.clean.horizontal.bottom > ul > li > a {
    border-top-width: 1px;
}

.z-tabs.clean.z-shadows > ul > li.z-active > a {
    -webkit-box-shadow: inset 0px 0px 1.143em 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 0px 1.143em 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 0px 1.143em 0px rgba(0, 0, 0, 0.13);
    background: #F3F3F3;
}

.z-tabs.clean.z-shadows.black2 > ul > li.z-active > a {
    -webkit-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.35);
    background: #242424;
}

.z-tabs.clean.vertical.z-shadows > ul,.z-tabs.clean.z-shadows > .z-container {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.z-tabs.clean.z-rounded.top > ul > li.z-first > a,.z-tabs.clean.z-rounded.bottom > ul > li.z-first > a {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.z-tabs.clean.top.z-rounded > ul > li.z-last > a,.z-tabs.clean.bottom.z-rounded > ul > li.z-last > a {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.z-tabs.clean.horizontal.top.z-rounded > ul > li.z-last-row.z-first-col > a {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.z-tabs.clean.responsive.horizontal.top.z-rounded > ul > li.z-last-row.z-last-col > a {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.z-tabs.clean.vertical > ul.z-tabs-desktop {
    border-width: 1px 1px 1px 1px;
}

.z-tabs.clean.vertical > ul > li.z-active {
    z-index: 7;
}

.z-tabs.clean.vertical > .z-container > .z-content > .z-content-inner {
    padding: 0 2em;
}

.z-tabs.clean.vertical.z-rounded > ul.z-tabs-desktop {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.z-tabs.clean.vertical.mobile.z-rounded > ul.z-tabs-desktop {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.z-tabs.clean.vertical.z-rounded > ul.z-tabs-desktop > li.z-first,.z-tabs.clean.vertical.z-rounded > ul.z-tabs-desktop > li.z-first > a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.z-tabs.clean.vertical.z-rounded > ul.z-tabs-desktop > li.z-last,.z-tabs.clean.vertical.z-rounded > ul.z-tabs-desktop > li.z-last > a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.z-tabs.horizontal.clean.responsive.top > ul > li > a {
    border-bottom-width: 0;
}

.z-tabs.clean.responsive.horizontal.bottom > ul > li > a {
    border-top-width: 0;
}

.z-tabs.clean.responsive.horizontal.bottom > ul > li.z-first-row > a {
    border-top-width: 1px;
}

.z-tabs.clean.responsive.horizontal.bottom > ul > li.z-first-row > a,.z-tabs.clean.responsive.horizontal.top > ul > li.z-last-row > a,.z-tabs.clean.responsive.horizontal.bottom > ul > li.z-last-row > a {
    border-bottom-width: 1px;
}

.z-tabs.horizontal.clean.responsive.z-rounded.top > ul > li.z-first > a {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

.z-tabs.clean.responsive.horizontal.z-rounded.top > ul > li.z-last > a {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.z-tabs.clean.white.mobile > ul > li.z-active > a {
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.13);
    background: #F3F3F3;
}

.z-tabs.clean.horizontal.mobile.top > ul > li,.z-tabs.clean.horizontal.mobile.bottom > ul > li {
    border-bottom-width: 0;
}

.z-grid {
    margin: 0 auto;
    padding: 0 0 0 1%;
}

.z-grid-1200 {
    max-width: 1220px;
}

.z-grid-1000 {
    max-width: 1020px;
}

.z-row {
    clear: both;
    padding: 0 10px;
}

.z-row:after {
    content: " ";
    height: 0;
    clear: both;
    visibility: hidden;
}

.z-row {
    zoom: 1;
}

.z-row > [class*="col"] {
    margin-left: 1.81818%;
    float: left;
    display: block;
    margin: 1% 0 1% 1.6%;
    margin: 0 0 0 1.6%;
    min-height: 1px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px;
}
/*
.col12 {
    width: 100%;
}

.col11 {
    width: 91.46%;
}

.col10 {
    width: 83%;
}

.col9 {
    width: 74.54%;
}

.col8 {
    width: 66.08%;
}

.col7 {
    width: 57.62%;
}

.col6 {
    width: 49.16%;
}

.col5 {
    width: 40.7%;
}

.col4 {
    width: 32.24%;
}

.col3 {
    width: 23.78%;
}

.col2 {
    width: 15.32%;
}

.col1 {
    width: 6.86%;
}
*/
.z-row > [class*="col"]:first-child {
    margin-left: 0;
}

.z-row > [class*="col"] img {
    width: 100%;
    height: auto;
    display: block;
}

@media all and (min-width: 1100px) {
    .z-grid-1000 {
        max-width: 1000px;
    }

    .z-grid-1000 .z-row {
        padding: 0;
    }
		
		.z-tabs.horizontal > ul > li {margin-right:0!important; width:auto!important;}
		
}

@media all and (min-width: 482px) and (max-width: 1100px) {
		.z-tabs-nav [class*="col"] {
			float:left!important; 
			margin-right:0!important;
			margin-bottom:0!important;
		}
		.z-tabs.silver > ul > li > a {min-height:3em!important;}
		
}
@media all and (max-width: 768px) {
    .z-row > [class*="col"] {
        float: none;
        width: auto;
        margin: 10px 0 10px 0;
    }
		.z-tabs.silver > ul > li > a {min-height:0;}
		.z-tabs.silver > ul > li > a br {display:none;}
}

.z-tabs > ul.z-tabs-mobile {
    display: none;
}

.z-tabs.responsive.horizontal.responsive > ul {
    display: block;
    width: 100%;
}

.z-tabs.responsive.horizontal > ul.z-tabs-mobile,.z-tabs.responsive.horizontal > ul.z-tabs-mobile > li {
    width: 100%;
    float: none;
}

.z-tabs.responsive.horizontal.mobile > ul > li > a {
    margin: 0 !important;
}

.z-tabs.responsive.horizontal > ul > li.z-last-col > a {
    margin-right: 0 !important;
}

.z-tabs.responsive.horizontal.top > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-bottom: 0;
    z-index: initial;
}

.z-tabs.responsive.horizontal.top > ul > li.z-last-row.z-active {
    top: 2px;
    margin-top: -2px;
    padding-bottom: 1px;
    z-index: 1;
}

.z-tabs.horizontal.top.responsive > ul.z-tabs-desktop > li > a,.z-tabs.horizontal.top.z-stacked > ul.z-tabs-desktop > li > a {
    border-bottom-width: 0;
}

.z-tabs.horizontal.responsive > ul.z-tabs-desktop > li > a {
    margin: 0 -2px 0 0;
}

.ie7 .z-tabs.horizontal.responsive > ul.z-tabs-desktop > li {
    margin-right: -3px;
}

.z-tabs.responsive.horizontal.bottom > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: initial;
}

.z-tabs.responsive.horizontal.bottom > ul > li.z-first-row.z-active {
    top: 0;
    padding-top: 0;
    z-index: 9;
}

.z-tabs.horizontal.responsive > ul.z-tabs-desktop {
    display: block;
    width: 100%;
}

.z-tabs.horizontal.responsive.underlined > ul {
    border-width: 0;
}

.z-tabs.horizontal.responsive.underlined > ul > li.z-active, .z-tabs.horizontal.responsive.underlined > ul > li:hover {
    border-top-width: 0;
    border-bottom-width: 0;
}

.z-tabs.underlined.horizontal > ul.z-tabs-mobile > li {
    margin-left: 0;
}

.z-tabs.underlined.horizontal > ul.z-tabs-mobile > li a {
    padding-left: 0;
}

.z-tabs.responsive.top.z-rounded > ul > li.z-last-col > a {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.z-tabs.responsive.bottom.z-rounded > ul > li.z-first > a {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

.z-tabs.responsive.z-rounded.bottom > ul > li.z-left > a {
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.z-tabs.responsive.z-rounded.bottom-left > ul > li.z-right > a {
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

.z-tabs.responsive.horizontal.top.z-rounded > ul > li.z-last > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.z-tabs.horizontal.z-stacked > ul.z-tabs-desktop > li {
    width: 100%;
    float: none;
}

.z-tabs.horizontal.z-stacked.responsive > ul.z-tabs-desktop > li.z-last > a,.z-tabs.horizontal.z-stacked.z-stacked > ul.z-tabs-desktop > li.z-last > a {
    border-bottom-width: 1px;
}

.z-tabs.horizontal.z-stacked.responsive > ul.z-tabs-desktop > li.z-first > a {
    border-top-width: 1px;
}

.z-tabs.horizontal.z-stacked > ul.z-tabs-desktop > li > a {
    margin: 0;
}

.z-tabs.flat.horizontal.z-stacked > ul.z-tabs-desktop > li > a {
    border-width: 0 !important;
}

.z-tabs.z-stacked.horizontal > ul > li > a {
    margin-right: 0 !important;
}

.z-tabs.flat.z-stacked.z-spaced.horizontal.responsive > ul.z-tabs-nav > li > a {
    margin: 2px 0 0 0 !important;
}

.z-tabs.mobile > ul.z-tabs-nav,.z-tabs.mobile > ul.z-tabs-nav > li,.z-tabs.mobile > ul.z-tabs-nav > li.z-active,.z-tabs.mobile > .z-container,.z-tabs.mobile > .z-container > .z-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.z-tabs.mobile {
    position: relative;
}

.z-tabs.mobile > ul.z-tabs-nav, .z-tabs.mobile > ul.z-tabs-nav.z-tabs-mobile, .z-tabs.mobile > ul.z-tabs-nav.z-tabs-mobile > li, .z-tabs.mobile > .z-container {
    width: 100%;
    float: none;
    display: block;
    width: 100%;
}

.z-tabs.mobile > ul.z-tabs-nav {
    border-width: 1px 1px 1px 1px;
}

.z-tabs.mobile > ul.z-tabs-nav > li > .z-link {
    margin: 0 !important;
}

.z-tabs.mobile > ul.z-tabs-desktop {
    position: absolute;
    top: inherit;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 1px rgba(51, 51, 51, 0.1);
}

.z-tabs.mobile > ul > li {
    overflow: visible;
}

.z-tabs.mobile > ul.z-tabs-nav > li > a {
    top: 0;
}



.z-tabs.mobile.top > ul.z-tabs-desktop > li > a, .z-tabs.mobile.bottom > ul.z-tabs-desktop > li > a {
    border-width: 1px 0px 0 0px;
}

.z-tabs.mobile > ul.z-tabs-nav > li.z-first > a {
    border-width: 0;
}

.z-tabs.mobile.z-shadows > ul.z-tabs-mobile {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(255, 255, 255, 0.9) inset;
}

.z-tabs.mobile > ul.z-tabs-desktop > li {
    float: none;
    display: block;
}

.z-tabs.mobile > ul.z-tabs-desktop.z-hide-menu {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.z-tabs.mobile.top > .z-container {
    margin-top: 8px;
}

.z-tabs.mobile.bottom > .z-container {
    margin-bottom: 8px;
}

.z-tabs.mobile > .z-container, .z-tabs.mobile > .z-container > .z-content.z-active {
    overflow: visible;
}

.z-tabs.mobile > .z-container.z-animating, .z-tabs.mobile > .z-container.z-animating > .z-content.z-active {
    overflow: hidden;
}

.z-tabs.mobile > ul.z-tabs-mobile.z-state-closed > li > a > span.z-arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

.z-tabs.mobile > ul.z-tabs-mobile > li > a > span.z-arrow {
    position: absolute;
    top: 50%;
    background: url(../images/z-tabs-icons.png) no-repeat top left;
    background-position: -1470px -3px;
    width: 30px;
    height: 30px;
    margin-top: -25px;
    margin-left: -0.75em;
    display: inline-block;
    right: 1.125em;
    background-position: -1470px -60px;
}

.z-tabs.z-icons-dark > ul.z-tabs-mobile > li > a > span.z-arrow {
    background-position: -1470px -3px;
}

.z-tabs.mobile > ul.z-tabs-nav > li.z-active {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}

.z-tabs.mobile > ul.z-tabs-nav > li.z-active > a {
    margin: 0;
    top: 0;
    bottom: 0;
    width: auto;
}

.z-tabs.mobile > ul.z-tabs-nav > li {
    border-width: 0px;
}

.z-tabs.mobile > ul.z-tabs-nav > li > a {
    text-align: left;
}

.z-tabs.mobile > ul.z-tabs-desktop > li.z-last {
    border-bottom-width: 0;
}

.z-tabs.mobile.z-rounded > ul.z-tabs-mobile.z-state-closed > li > a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.z-tabs.mobile.z-rounded > ul.z-tabs-mobile,.z-tabs.mobile.z-rounded > ul.z-tabs-desktop {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.z-tabs.mobile.z-rounded > ul.z-tabs-mobile > li > a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.z-tabs.mobile.z-rounded > ul.z-tabs-nav.z-tabs-desktop > li.z-last > a.z-link {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.z-tabs.mobile.z-rounded > ul.z-tabs-nav > li.z-first > a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.z-tabs.mobile.z-rounded > .z-container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.z-tabs .z-tabs *,.z-tabs ul,.z-tabs ul li,.z-tabs ul li a,.z-tabs .z-container .z-content {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    outline: none;
} 