.container {width:1100px; margin:0 auto;}
.container > .row {width: 1000px!important;}
/* Header */
#inlineNav h2 br {display:none;}
/* Breadcrumb */
.breadcrumbs ul li .divider {overflow:hidden; position:relative; top:1px; color:#f7f7f8; display:inline-block; *display:inline; zoom:1; width:0; height:0; border-style: solid; border-width: 5px 0 5px 6px;border-color: transparent transparent transparent #BCBCBC;}
.downloadSmall, .download {min-height:20px;}
/* Zozo tabs*/
.z-tabs.horizontal > ul > li {width:172px!important; font-size:15px;}
.z-tabs > ul > li > a br {display:none;}