<div id="ajax">
	<div class="subNavContainer container">
		<div class="row">
			<div class="col24">
				<h2>Our main role is to allocate funding from the Government to universities and colleges.</h2>
       <p>Read more about our <a href="#">Aims & Objectives</a></p>
			</div>
		</div>
	<div class="row marginT50">
		<div class="col6">
				<h4><a href="funding-and-investment.html" class="active"><span>Funding &amp; Investment</span></a></h4>
				<ul>
					<li><a href="annual-funding-allocations.html" class="active">Annual funding allocations</a></li>
					<li><a href="catalyst-fund.html" class="active">The new Catalyst Fund</a></li>
					<li><a href="#">Regional profiles</a></li>
				</ul>
				<a href="#" class="more">View all</a>
		</div>
		<div class="col6">
				<h4><a href="#"><span>Regulation</span></a></h4>
				<ul>
					<li><a href="#">Financial memorandum</a></li>
					<li><a href="#">Operating framework</a></li>
					<li><a href="#">Course desingnation</a></li>
				</ul>
				<a href="#" class="more">View all</a>	
		</div>
		<div class="col6">
				<h4><a href="learning-teaching.html" class="active"><span>Learning &amp; teaching</span></a></h4>
				<ul>
					<li><a href="student-numbers.html" class="active">Student numbers and high grades</a></li>
					<li><a href="#">Unistats and Key Information Sets</a></li>
					<li><a href="#">National Student Survey</a></li>
				</ul>
				<a href="#" class="more">View all</a>		
		</div>
		<div class="col6 last">
				<h4><a href="#"><span>Widening participation</span></a></h4>
				<ul>
					<li><a href="#">How we fund widening participation</a></li>
					<li><a href="#">Participation of Local Areas (POLAR)</a></li>
					<li><a href="#">National Scholarship Programme</a></li>
				</ul>
				<a href="#" class="more">View all</a>	
		</div>
	</div>
	<div class="row">
		<div class="col6">
				<h4><a href="#"><span>Research</span></a></h4>
				<ul>
					<li><a href="#">Research Excellence Framework (REF)</a></li>
					<li><a href="#">UK Research partnership investment fund</a></li>
					<li><a href="#">Open access research</a></li>
				</ul>
				<a href="#" class="more">View all</a>	
		</div>
		<div class="col6">
				<h4><a href="#"><span>Knowledge exchange &amp; skills</span></a></h4>
				<ul>
					<li><a href="#">Higher Education Innovation Fund</a></li>
					<li><a href="#">Higher Education - Business &amp; Community Interaction survey</a></li>
					<li><a href="#">Social Entrepreneurship Awards</a></li>
				</ul>
				<a href="#" class="more">View all</a>		
		</div>
		<div class="col6">
				<h4><a href="#"><span>Leadership, governance <br> &amp; management</span></a></h4>
				<ul>
					<li><a href="#">Shared Services</a></li>
					<li><a href="#">Sustainable development</a></li>
					<li><a href="#">Equality &amp; diversity</a></li>
				</ul>
				<a href="#" class="more">View all</a>	
		</div>
		<div class="col6 last">
				<h4><a href="#"><span>Cross-cutting work</span></a></h4>
				<ul>
					<li><a href="#">Strategically important and vulnerable subjects (SIVS)</a></li>
					<li><a href="#">Demand and supply in HE subjects</a></li>
					<li><a href="#">Postgraduates: policy and funding</a></li>
				</ul>
				<a href="#" class="more">View all</a>
		</div>
	</div>		
	</div>
</div>